/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================================== */
/*  CSS code starts here                       */
/* =========================================== */
body
{
    font-size: 15px;
    font-family: sans-serif;
    background: #fff url('../img/bodybg.png') repeat-x;
    color: #000;
    width: 100%;
    line-height: 1.5;
}
.wrapper
{
    width: 974px;
    margin: 0 auto;
}
.header
{
    height: 65px;
    padding: 10px 20px 10px;
}
.header h1
{
    font-size: 40px;
    line-height: 40px;
    font-family: serif;
}
.ticker
{
    float: right;
    width: 300px;
    border: 1px solid silver;
}
.center
{
    float: left;
    width: 360px
}
#map_canvas
{
    margin: 20px;
    float: right;
    border:1px solid black;
}
.messageType
{
    color: #ff3333;
}
#fylkesList
{
    margin: 20px;
    float: left;
    width: 150px;
    font-size: 0.9em;
}
#messageList
{
    width: 450px;
    float: left;
    margin: 20px;
    height: 500px;
    font-family: sans-serif;
}
#messageList > h3
{
    padding-left: 30px;
    font-weight: bold;  
}
#messageList > h3 > span 
{
    padding:0;
}
#messageList p
{
    margin-bottom: 20px;
}
.right
{
    float: right;
    width: 360px;
    height: 600px;
}
.road-Ev , .road-Rv, .road-Fv, .road-Kv
{
    float: left;
    width: 80px;
    text-align: center;
    margin: 0 10px 10px 0;
    
}
.road-Ev h4, .road-Rv h4, .road-Fv h4 , .road-Kv h4
{
    display:block;
    border-style: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height:40px;
    margin: 0 auto;
}
.road-Ev h4
{
    background: #007f00;
}
.road-Fv h4
{
    background-color: #008c33;
}
.road-Rv h4, .road-Kv h4
{
    background: #009966
}
.infodiv
{
    border-bottom: 1px solid silver;
    clear:both;
    margin: 10px 0;
}
.infodiv h5
{
    font-size: 0.8em;
}
.clear
{
    clear:both;
}