/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
    -webkit-padding-start: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =========================================== */
/*  CSS code starts here                       */
/* =========================================== */
body
{
    font-size: 15px;
    font-family: sans-serif;
    background: #fff url('../img/bg-bar.png') repeat-x;
    color: #000;
    width: 100%;
    line-height: 1.5;
}
a:link, a:active, a:visited {
    color: #9999cc;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}


#container
{
    position:relative;
    width: 974px;
    margin: 0 auto;
    background: #fff url('../img/bg-full.jpg') no-repeat top left;
}
header
{
    color: #fff;
    height: 75px;
    margin-bottom: 10px;
}
header h1
{
    font-size: 35px;
    line-height: 60px;
    letter-spacing:2px;
    font-family: serif;
}
input[type="checkbox"]
{
    vertical-align: middle;
}
input, label
{
    font-size: 12px;
    padding: 5px;
    line-height: 20px;
}
.center
{
    position: absolute;
    top: 80px;
    left: 210px;
    float: left;
    width: 500px
}

#map_canvas
{
    margin: 0 auto;
    float: right;
    border:1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.messageType
{
    color: #ff3333;
}
.left{
    position: absolute;
    top: 80px;
    left: 0;
    width: 178px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    display:none;
}
#fylkesList
{
    font-size: 1em;
}
#fylkesList label
{
    color: #777;
}
#messageList
{
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
#messageList > h3
{
    padding-left: 30px;
    font-weight: bold;  
}
#messageList > h3 > span 
{
    padding:0;
}
#messageList p
{
    margin-bottom: 20px;
}
/* fix for too much padding in the UI css */
.ui-accordion .ui-accordion-content
{
    padding: 5px;
}
.right
{
    position: absolute;
    left: 715px;
    top: 80px;
    font-size: 0.8em;
    width: 230px;
}
.road-Ev , .road-Rv, .road-Fv, .road-Kv
{
    float: left;
    width: 65px;
    text-align: center;
    padding: 5px 5px 5px 0;

}
.road-Ev h4, .road-Rv h4, .road-Fv h4 , .road-Kv h4
{
    display:block;
    border-style: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height:40px;
    margin: 0 auto;
}
.road-Ev h4
{
    background: #007f00;
}
.road-Fv h4
{
    background-color: #008c33;
}
.road-Rv h4, .road-Kv h4
{
    background: #009966
}
.infodiv
{
    border-bottom: 1px solid silver;
    clear:both;
    min-height: 100px;
}
.infodiv h5
{
    color: #777;
    font-size: 0.8em;
}
.clear
{
    clear:both;
}
footer
{
    display:block;
    border-style: solid;
    border-color: silver;
    border-width: 1px 1px 0 0;
    background: #333;
    color: #fff;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.about
{
    position: absolute;
    width: 400px;
    height: 200px;
    padding: 40px;
    right: 50px;
    top: -280px;
    background: #000;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.about .title
{
    position:absolute;
    bottom:0;
    left:10px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: -40px;
    background: #333;
    line-height: 40px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #777;
}
ul.tooltip
{
    display:inline;
    float: right;
}
ul.tooltip li
{
    padding-left: 5px;
    font-weight: bold;
    font-size: 0.7em;
    display:inline;
    position:relative;
}
ul.tooltip li > ul {
    display:none;
}
ul.tooltip li:hover > ul {
    /*width: 150px;*/
    font-size: 15px;
    display:block;
    background-color: white;
    position:absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px;
    border: 1px solid silver;
}
ul.tooltip li:hover > ul li
{
    display:block;
}
ul.tooltip li:hover > ul li h3
{
    font-size: 1.2em;
    border-bottom: 1px solid silver;

}
.red 
{
    color: #bb0000;
}
.blue 
{
    color: #0000bb;
}
.yellow 
{
    color: #00bbbb;
}
#loadingScreen
{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
    padding: 20px;
    background: #ccc;
    width: 500px;
    border: 5px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 1024;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
#loadingScreen > div
{
    text-align: center;
}
.english 
{
    color: #666;
}